<input type="text" [(ngModel)]="busquedaPorNombre" (keyup)="filtroPokemons()" placeholder="Buscar por nombre">
<div>
  <button [class.selected]="busquedaPorTipo.includes('grass')" (click)="toggleTipos('grass')">Grass</button>
  <button [class.selected]="busquedaPorTipo.includes('poison')" (click)="toggleTipos('poison')">Poison</button>
  <button [class.selected]="busquedaPorTipo.includes('fire')" (click)="toggleTipos('fire')">Fire</button>
  <button [class.selected]="busquedaPorTipo.includes('water')" (click)="toggleTipos('water')">Water</button>
  <button [class.selected]="busquedaPorTipo.includes('normal')" (click)="toggleTipos('normal')">Normal</button>
  <button [class.selected]="busquedaPorTipo.includes('flying')" (click)="toggleTipos('flying')">Flying</button>
  <button [class.selected]="busquedaPorTipo.includes('steel')" (click)="toggleTipos('steel')">Steel</button>
  <button [class.selected]="busquedaPorTipo.includes('dragon')" (click)="toggleTipos('dragon')">Dragon</button>
  <button [class.selected]="busquedaPorTipo.includes('electric')" (click)="toggleTipos('electric')">Electric</button>
  <button [class.selected]="busquedaPorTipo.includes('ground')" (click)="toggleTipos('ground')">Ground</button>
  <button [class.selected]="busquedaPorTipo.includes('fairy')" (click)="toggleTipos('fairy')">Fairy</button>
  <button [class.selected]="busquedaPorTipo.includes('fighting')" (click)="toggleTipos('fighting')">Fighting</button>
  <button [class.selected]="busquedaPorTipo.includes('ice')" (click)="toggleTipos('ice')">Ice</button>
  <button [class.selected]="busquedaPorTipo.includes('psychic')" (click)="toggleTipos('psychic')">Psychic</button>
  <button [class.selected]="busquedaPorTipo.includes('ghost')" (click)="toggleTipos('ghost')">Ghost</button>
  <button [class.selected]="busquedaPorTipo.includes('rock')" (click)="toggleTipos('rock')">Rock</button>
  <button [class.selected]="busquedaPorTipo.includes('dark')" (click)="toggleTipos('dark')">Dark</button>
</div>
<div>
  <button (click)="cambiarFiltroLimitePokemon(151)">Gen 1</button>
  <button (click)="cambiarFiltroLimitePokemon(251)">Gen 2</button>
  <button (click)="cambiarFiltroLimitePokemon(386)">Gen 3</button>
  <button (click)="cambiarFiltroLimitePokemon(493)">Gen 4</button>
  <button (click)="cambiarFiltroLimitePokemon(1017)">All</button>
</div>

<section class="pokemon-grid">
  <div class="pokemon-card" *ngFor="let pokemon of pokemonsfiltrados">
    <img [src]="pokemon.image" alt="Imagen {{ pokemon.name }}">
    <h3>{{ pokemon.name | titlecase }}</h3>
    <span class="num">Nº {{ pokemon.number }}</span>
    <div>
      <span class="tipos {{getTipos(type)}}" *ngFor="let type of pokemon.types">{{ type }}</span>
    </div>
  </div>
</section>