@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: 'Press Start 2P'; 
  background-color: #f0f0f0;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 0;
}

.image-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.details-container {
  max-width: 40vw;
}

.pokemon-extra-info, .moves-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  border: 3px solid #000;
  padding: 15px;
}

.stats-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.stats-table table {
  min-width: 600px;
  border-collapse: collapse;
}

.stats-table th, .stats-table td {
  padding: 8px;
  border: 1px solid #000;
  text-align: left;
  font-size: 0.8em;
}

h2, h3 {
  font-size: 24px;  
  text-transform: uppercase;
  margin: 5px 0;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

img {
  width: auto;
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #000;
  background-color: #fff;
  image-rendering: pixelated;
  margin-bottom: 20px;
}

ul li {
  list-style: none;
  padding: 4px 0;
}

.type-table, .moves-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.type-table th, .moves-container th {
  background-color: #ddd;
  color: #333;
  padding: 10px;
  text-align: left;
}

.type-table td, .moves-container td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.moves-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.moves-container th, .moves-container td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.tipos {
  display: inline-block;
  border: solid black 2px;
  border-radius: 10px;
  padding: 2px 16px;
  font-size: 16px;
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}

 .grass {
  background-color: 	#7AC74C;
 }

 .poison {
  background-color:	#A33EA1;
 }

 .fire {
  background-color: #EE8130;
 }

 .water {
  background-color: #6390F0;
 }

 .normal {
  background-color: #A8A77A;
 }

 .electric {
  background-color: #F7D02C;
  color: black;
 }

 .ice {
  background-color: #96D9D6;
 }

 .flying {
  background-color: #A98FF3;
 }

 .steel {
  background-color: #B7B7CE;
 }

 .dragon {
  background-color: #6F35FC;
 }

 .ground {
  background-color: #E2BF65;
 }

 .fairy {
  background-color: #D685AD;
 }

 .bug {
  background-color: #A6B91A;
 }

 .fighting {
  background-color: #C22E28;
 }

 .psychic {
  background-color: #F95587;
 }

 .ghost {
  background-color: #735797;
 }

 .rock {
  background-color: #B6A136;
 }

 .dark {
  background-color: #705746;
 }

 @media (max-width: 768px) {
  .details-container {
    max-width: 90vw;
  }
  
  .image-text-container, .pokemon-extra-info {
    flex-direction: column;
    align-items: center;
  }
  
  img {
    max-width: 150px;
    height: 150px;
  }

  .stats-table table,
  .type-table,
  .moves-container table {
    width: 100%;
    min-width: 0;
    overflow-x: auto;
  }
}