<div *ngIf="pokemon" class="pokemon-details">
  <section class="image-text-container">
    <img [src]="pokemon.animatedSprite || pokemon.image" (click)="cargarSpriteAnimadoShiny()" alt="Imagen {{ pokemon.name }}">
  <div class="details-container">
    <h2>{{ pokemon.name | titlecase }}</h2>
    <p>Pokedex number: {{ pokemon.number }}</p>
    <div>
      <p>Type:</p>
      <span class="tipos {{getTipos(type)}}" *ngFor="let type of pokemon.types">{{ type }}</span>
    </div>
    <p>Weight: {{ pokemon.weight }} kg</p>
    <p>Height: {{ pokemon.height }} m</p>
    <p>Description: {{ pokemon.description }}</p>
  </div>
  </section>
  <section class="pokemon-extra-info">
    <div class="stats-table">
      <div *ngFor="let stat of pokemon.stats">
      <p>{{ stat.name }}: {{ stat.value }}</p>
      </div>
    </div>
  </section>
  <section class="moves-container">
    <h3>Moves:</h3>
    <h3>Moves by level</h3>
  <table>
    <thead>
      <tr>
        <th>Level</th>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
        <th>Power</th>
        <th>Accuracy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let move of pokemon.moves | filtroMovimientosPorNivel">
        <td>{{ move.levelMove }}</td>
        <td>{{ move.nameMove }}</td>
        <td>{{ move.typeMove }}</td>
        <td>{{ move.categoryMove }}</td>
        <td>{{ move.powerMove }}</td>
        <td>{{ move.accuracyMove }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Moves by TM/OM</h3>
  <table>
    <thead>
      <tr>
        <th>TM/OM</th>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
        <th>Power</th>
        <th>Accuracy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let move of pokemon.moves | filtroMovimientoPorMTMO">
        <td>{{ move.methodMove }}</td>
        <td>{{ move.nameMove }}</td>
        <td>{{ move.typeMove }}</td>
        <td>{{ move.categoryMove }}</td>
        <td>{{ move.powerMove }}</td>
        <td>{{ move.accuracyMove }}</td>
      </tr>
    </tbody>
  </table>
  </section>
  <table class="type-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Strength</th>
        <th>Weakness</th>
        <th>Inmune</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of pokemon.types">
        <td>{{ type }}</td>
        <td>
          <ul>
            <li *ngFor="let debilidad of getDebilidades(type)">{{ debilidad }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let fortaleza of getFortalezas(type)">{{ fortaleza }}</li>
          </ul>
        </td>
        <td>
            <ul>
              <li *ngFor="let inmunidad of getInmunidad(type)">{{ inmunidad }}</li>
            </ul>
          </td>
      </tr>
    </tbody>
  </table>
  <section *ngIf="evolutionChain.length > 0" class="evolution-section">
    <h3>Evolution Chain</h3>
    <div *ngFor="let evolutionStep of evolutionChain" class="evolution-step">
      <h4>{{ evolutionStep.name }}</h4>
      <img [src]="evolutionStep.animatedSprite || evolutionStep.image" alt="{{ evolutionStep.name }}">
      
      <p *ngIf="evolutionStep.detallesEvolucion?.trigger === 'Level up'">
        Trigger: {{ getTriggerDescription(evolutionStep.detallesEvolucion?.trigger) }}
        (Level {{ evolutionStep.detallesEvolucion?.min_level || 'unknown' }})
      </p>
      <p *ngIf="evolutionStep.detallesEvolucion?.trigger !== 'Level up'">
        Trigger: {{ getTriggerDescription(evolutionStep.detallesEvolucion?.trigger) }}
      </p>
  
      <div *ngIf="evolutionStep.detallesEvolucion && evolutionStep.detallesEvolucion.evolvesTo && evolutionStep.detallesEvolucion.evolvesTo.length > 0">
        <h5>Evolutions:</h5>
        <div *ngFor="let subEvolution of evolutionStep.detallesEvolucion?.evolvesTo" class="sub-evolution">
          <img [src]="subEvolution.animatedSprite || subEvolution.image" alt="{{ subEvolution.name }}">
          
          <p *ngIf="subEvolution.detallesEvolucion?.trigger === 'Level up'">
            Trigger: {{ getTriggerDescription(subEvolution.detallesEvolucion?.trigger) }}
            (Level {{ subEvolution.detallesEvolucion?.min_level || 'unknown' }})
          </p>
          <p *ngIf="subEvolution.detallesEvolucion?.trigger !== 'Level up'">
            Trigger: {{ getTriggerDescription(subEvolution.detallesEvolucion?.trigger) }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>